.card_img{
    width: calc(100% - 40px) !important;
    max-width: 10rem !important;
    height: auto;
    width: auto;
    margin: 20px;

}
.Comment{
    border-radius: 40px;
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
    text-align: center;
    margin: 10%;
}
.Comment:hover{
    background-color: #00695B;
    color: #FFF;
}
.Comment p{
    margin: 20px 30px;
}
.card-wrapper{
    margin: auto 8rem;
}
@media screen and (max-width:996px) {
    .card-wrapper{
        margin: auto 1rem;
    }
}
@media screen and (max-width:600px) {
    .card-wrapper{
        margin: auto 0rem;
    }
}
.link{
    text-decoration: none;
}